@layer theme, base, antd, components, utilities;

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ant-menu-item-selected {
  background-color: #5b8db8 !important;
  color: white;
}

.custom-menu .ant-menu-item-selected:hover {
  background-color: #6ea1c3 !important;
  filter: brightness(1.4);
}

.ant-menu-light.ant-menu-root.ant-menu-inline,
.ant-menu-light > .ant-menu.ant-menu-root.ant-menu-inline,
.ant-menu-light.ant-menu-root.ant-menu-vertical,
.ant-menu-light > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none !important;
}

.ant-select-item-option-selected {
  background-color: #5b8db8 !important;
  color: white !important;
}

.ant-select-item-option-selected:hover {
  background-color: #6ea1c3 !important;
  filter: brightness(1.4);
}

.ant-select-item-option-active {
  background-color: #6ea1c3 !important;
  filter: brightness(1.4);
}

.ant-select-item-option:hover {
  filter: brightness(1.4);
}

.ant-btn.ant-btn-primary {
  box-shadow: none !important;
}

.ant-card .ant-card-body {
  padding: 12px !important;
}
