@layer theme, base, antd, components, utilities;

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ant-card .ant-card-body {
  padding: 12px !important;
}
